<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <style>
    .card-title {
      padding: 2%;
      color: white;
      background-color: #26a69a;
      text-align: center;
      font-size: large;
    }
    select {
      display: block !important;
    }
    button {
      color: #fff;
      background-color: #26a69a;
      text-align: center;
      font-size: medium;
      padding: 8px;
      letter-spacing: 0.5px;
      border: none;
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 36px;
      line-height: 36px;
      padding: 0 16px;
      text-transform: uppercase;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
    }
    .forget {
      letter-spacing: 0.5px;
      float: right;
      cursor: pointer;
      font-size: 17px;
      color: #3bb6aa;
    }
  </style>

  <body>
    <div class="main-wrapper">
      <div class="row">
        <div class="container">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
                <h6 class="card-title">Update Password</h6>
                <br />
                <% if (typeof error !=='undefined' && error.length> 0) { %>
                <div class="container">
                  <div class="alert alert-warning" style="text-align: center">
                    <%= error %>
                  </div>
                </div>
                <% } %>
                <div class="container">
                  <form class="cmxform" method="post" action="/updatePassword">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input
                            id="password"
                            class="form-control"
                            name="password"
                            type="password"
                            placeholder="Enter Password"
                            value="<%= values.password %>"
                          />
                          <% if (typeof error1 !=='undefined' && error1.length>
                          0) { %>
                          <div style="color: red"><%= error1 %></div>
                          <% } %>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <input
                            id="confirm_password"
                            class="form-control"
                            name="confirm_password"
                            type="password"
                            placeholder="Enter Confirm Password"
                            value="<%= values.confirm_password %>"
                          />
                          <% if (typeof error2 !=='undefined' && error2.length>
                          0) { %>
                          <div style="color: red"><%= error2 %></div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div><a href="/" class="forget">Cancel</a></div>

                      <input
                        href="/"
                        class="btn btn-primary"
                        style="margin: 0% 0% 2% 40%"
                        type="submit"
                        value="Submit"
                      />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
